@relation-list-prefix-cls: relation-list;
@space-width: 1.5rem;
@padding-width: 1rem;
@border-radius: 2px;
@border-color: #d9d9d9;
// @border-color: red;
@header-background: transparent;
@footer-background: transparent;

.@{relation-list-prefix-cls} {
  box-sizing: border-box;
  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &-content {
    display: flex;
    align-items: center;
  }

  &-header {
    background: @header-background;
  }
  &-footer {
    background: @footer-background;
  }
  &-header,
  &-footer {
    padding-top: @padding-width;
    padding-bottom: @padding-width;
  }

  // 有 border 时，应有 padding 作为间距
  &-bordered {
    border: 1px solid @border-color;
    border-radius: @border-radius;
  }
  &-bordered &-header {
    padding-left: @padding-width;
    padding-right: @padding-width;
  }
  &-bordered &-footer {
    padding-left: @padding-width;
    padding-right: @padding-width;
  }
  &-bordered &-content {
    padding-left: @padding-width;
    padding-right: @padding-width;
  }
  &-bordered &-content {
    padding-left: @padding-width;
    padding-right: @padding-width;
  }
  &-bordered&-content {
    padding: @padding-width;
  }

  &-split &-header {
    border-bottom: 1px solid @border-color;
  }
  &-split &-footer {
    border-top: 1px solid @border-color;
  }
  /* &-split &-item {
    border-bottom: 1px solid @border-color;
  }
  &-split &-item-wrap {
    &:last-child {
      .@{relation-list-prefix-cls}-item {
        border-bottom: none;
      }
    }
  } */

  &-title {
    display: flex;
    align-items: center;
    &::after {
      content: ' ';
      display: inline-block;
      height: 1px;
      width: @space-width;
      background: @border-color;
    }
  }

  &-parent-line {
    height: 100%;
    border-left: 1px solid @border-color;
  }

  &-items {
    flex: 1;
    &:only-child {
      > .@{relation-list-prefix-cls}-item-prefix-line {
        display: none;
        border: none;
      }
    }
  }

  &-item-wrap {
    display: flex;
    align-items: stretch;
    position: relative;
    &:first-child {
      > .@{relation-list-prefix-cls}-item-prefix-line {
        &::after {
          display: none;
        }
        &::before {
          content: '';
          display: inline-block;
          width: 100%;
          height: 50%;
          background: inherit;
          // background: yellowgreen;
          border-bottom: 1px solid @border-color;
          position: absolute;
          top: 0;
          left: -1px;
        }
      }
    }
    &:last-child {
      > .@{relation-list-prefix-cls}-item-prefix-line {
        &::after {
          display: none;
        }
        &::before {
          content: '';
          display: inline-block;
          width: 100%;
          height: 50%;
          background: inherit;
          // background: yellowgreen;
          border-top: 1px solid @border-color;
          position: absolute;
          bottom: 0;
          left: -1px;
        }
      }
    }
    &:only-child {
      > .@{relation-list-prefix-cls}-item-prefix-line {
        display: none;
      }
    }
  }

  &-item-prefix-line {
    width: @space-width;
    height: inherit;
    display: flex;
    align-items: center;
    position: relative;
    background: white;
    border-left: 1px solid @border-color;
    &::after {
      content: ' ';
      width: 100%;
      border-bottom: 1px solid @border-color;
    }
  }

  &-item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    &:only-child {
      &::before {
        width: 0;
      }
    }

    &-action {
      flex: 0 0 auto;
      margin-left: 1rem !important;
      list-style: none;

      & > li {
        position: relative;
        display: inline-block;
        padding: 0 0.4rem;
        text-align: center;

        &:first-child {
          padding-left: 0;
        }
      }

      &-split {
        position: absolute;
        top: 50%;
        right: 0;
        width: 1px;
        height: 14px;
        margin-top: -7px;
        background-color: #f0f0f0;
      }
    }
  }
}
