.relation-list {
  box-sizing: border-box;
  /* &-split &-item {
    border-bottom: 1px solid @border-color;
  }
  &-split &-item-wrap {
    &:last-child {
      .@{relation-list-prefix-cls}-item {
        border-bottom: none;
      }
    }
  } */
}
.relation-list ul,
.relation-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.relation-list-content {
  display: flex;
  align-items: center;
}
.relation-list-header {
  background: transparent;
}
.relation-list-footer {
  background: transparent;
}
.relation-list-header,
.relation-list-footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.relation-list-bordered {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}
.relation-list-bordered .relation-list-header {
  padding-left: 1rem;
  padding-right: 1rem;
}
.relation-list-bordered .relation-list-footer {
  padding-left: 1rem;
  padding-right: 1rem;
}
.relation-list-bordered .relation-list-content {
  padding-left: 1rem;
  padding-right: 1rem;
}
.relation-list-bordered .relation-list-content {
  padding-left: 1rem;
  padding-right: 1rem;
}
.relation-list-bordered.relation-list-content {
  padding: 1rem;
}
.relation-list-split .relation-list-header {
  border-bottom: 1px solid #d9d9d9;
}
.relation-list-split .relation-list-footer {
  border-top: 1px solid #d9d9d9;
}
.relation-list-title {
  display: flex;
  align-items: center;
}
.relation-list-title::after {
  content: ' ';
  display: inline-block;
  height: 1px;
  width: 1.5rem;
  background: #d9d9d9;
}
.relation-list-parent-line {
  height: 100%;
  border-left: 1px solid #d9d9d9;
}
.relation-list-items {
  flex: 1;
}
.relation-list-items:only-child {
  background: yellow;
}
.relation-list-items:only-child > .relation-list-item-prefix-line {
  display: none;
  border: none;
}
.relation-list-item-wrap {
  display: flex;
  align-items: stretch;
  position: relative;
}
.relation-list-item-wrap:first-child > .relation-list-item-prefix-line::after {
  display: none;
}
.relation-list-item-wrap:first-child > .relation-list-item-prefix-line::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 50%;
  background: inherit;
  border-bottom: 1px solid #d9d9d9;
  position: absolute;
  top: 0;
  left: -1px;
}
.relation-list-item-wrap:last-child > .relation-list-item-prefix-line::after {
  display: none;
}
.relation-list-item-wrap:last-child > .relation-list-item-prefix-line::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 50%;
  background: inherit;
  border-top: 1px solid #d9d9d9;
  position: absolute;
  bottom: 0;
  left: -1px;
}
.relation-list-item-wrap:only-child > .relation-list-item-prefix-line {
  display: none;
}
.relation-list-item-prefix-line {
  width: 1.5rem;
  height: inherit;
  display: flex;
  align-items: center;
  position: relative;
  background: white;
  border-left: 1px solid #d9d9d9;
}
.relation-list-item-prefix-line::after {
  content: ' ';
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
}
.relation-list-item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.relation-list-item:only-child::before {
  width: 0;
}
.relation-list-item-action {
  flex: 0 0 auto;
  margin-left: 1rem !important;
  list-style: none;
}
.relation-list-item-action > li {
  position: relative;
  display: inline-block;
  padding: 0 0.4rem;
  text-align: center;
}
.relation-list-item-action > li:first-child {
  padding-left: 0;
}
.relation-list-item-action-split {
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 14px;
  margin-top: -7px;
  background-color: #f0f0f0;
}
